<?xml version="1.0"?>
<!--
/**
 * @author Bloomreach
 * @copyright Copyright (c) Bloomreach (https://www.bloomreach.com/)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <bloomreach_engagement>
            <general>
                <enabled>0</enabled>
                <api_secret backend_model="Magento\Config\Model\Config\Backend\Encrypted" />
                <use_static_ips>0</use_static_ips>
                <debug_mode>0</debug_mode>
                <request_timeout>60</request_timeout>
                <retry_base_wait_time>60</retry_base_wait_time>
                <retry_max_wait_time>240</retry_max_wait_time>
            </general>
            <http_basic_auth>
                <enabled>0</enabled>
                <password backend_model="Magento\Config\Model\Config\Backend\Encrypted" />
            </http_basic_auth>
            <registered_mapping>
                <customer_id>customer_id</customer_id>
                <email>email_id</email>
            </registered_mapping>
            <catalog_product_feed>
                <enabled>0</enabled>
                <real_time_updates>0</real_time_updates>
                <searchable_fields><![CDATA[active,title,supplier,gender,rating,ratings_count,category_level_1,category_level_2,category_level_3,categories_path,categories_ids,color,size,price,original_price,discount_percentage,discount_value,on_sale,date_added,stock_level]]></searchable_fields>
            </catalog_product_feed>
            <catalog_product_variants_feed>
                <enabled>0</enabled>
                <real_time_updates>0</real_time_updates>
                <searchable_fields><![CDATA[active,title,supplier,gender,rating,ratings_count,category_level_1,category_level_2,category_level_3,categories_path,categories_ids,color,size,price,original_price,discount_percentage,discount_value,on_sale,date_added,stock_level]]></searchable_fields>
            </catalog_product_variants_feed>
            <customer_feed>
                <enabled>0</enabled>
                <real_time_updates>0</real_time_updates>
            </customer_feed>
            <purchase_feed>
                <enabled>0</enabled>
                <real_time_updates>0</real_time_updates>
            </purchase_feed>
            <purchase_item_feed>
                <enabled>0</enabled>
                <real_time_updates>0</real_time_updates>
            </purchase_item_feed>
            <frontend_tracking>
                <enable_js_sdk>0</enable_js_sdk>
                <enable_datalayer>0</enable_datalayer>
                <enable_purchase>0</enable_purchase>
                <enable_product_view>0</enable_product_view>
                <enable_cart_update>0</enable_cart_update>
            </frontend_tracking>
            <bloomreach_engagement_cron>
                <clean_export_queue>10</clean_export_queue>
                <clear_old_csv>10</clear_old_csv>
                <bloomreach_add_to_export_queue_cron>*/15 * * * *</bloomreach_add_to_export_queue_cron>
                <bloomreach_run_export_cron>*/15 * * * *</bloomreach_run_export_cron>
                <bloomreach_clean_export_queue_cron>0 0 * * *</bloomreach_clean_export_queue_cron>
                <bloomreach_clean_csv_cron>0 0 * * *</bloomreach_clean_csv_cron>
            </bloomreach_engagement_cron>
            <notification>
                <enabled>0</enabled>
                <allowed_error_percentage>10</allowed_error_percentage>
            </notification>
        </bloomreach_engagement>
    </default>
</config>
