<?xml version="1.0" ?>
<!--
/**
 * @author Bloomreach
 * @copyright Copyright (c) Bloomreach (https://www.bloomreach.com/)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="bloomreach_engagement" frontName="bloomreach_engagement">
            <module name="Bloomreach_EngagementConnector" before="Magento_Backend"/>
        </route>
    </router>
</config>
