<?xml version="1.0"?>
<!--
/**
 * @author Bloomreach
 * @copyright Copyright (c) Bloomreach (https://www.bloomreach.com/)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="bloomreach_engagement" translate="label" sortOrder="230">
            <label>Bloomreach Engagement</label>
        </tab>
        <section id="bloomreach_engagement" translate="label" sortOrder="130" showInDefault="1">
            <class>separator-top</class>
            <label>Settings</label>
            <tab>bloomreach_engagement</tab>
            <resource>Bloomreach_EngagementConnector::bloomreach_engagement_config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1">
                <label>General</label>
                <field id="version" translate="label" type="label" sortOrder="0" showInDefault="1">
                    <label>Version</label>
                    <backend_model>Bloomreach\EngagementConnector\Block\Adminhtml\System\Config\ModuleVersion</backend_model>
                </field>
                <field id="enable" translate="label" type="select" sortOrder="10" showInDefault="1">
                    <label>Enable Engagement Integration</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Enables Magento &lt;-&gt; Engagement integration</comment>
                </field>
                <field id="api_target" translate="label" type="text" sortOrder="20" showInDefault="1">
                    <label>API Target</label>
                    <comment>Engagement application API Base URL which can be found in Project Settings. e.g. https://api-engagement.bloomreach.com</comment>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                    <validate>required-entry validate-url</validate>
                </field>
                <field id="api_key_id" translate="label" type="text" sortOrder="30" showInDefault="1">
                    <label>API Key ID</label>
                    <comment><![CDATA[Engagement API <a href="https://docs.exponea.com/reference/authentication#private-api-access" target="_blank">Private access type</a> credentials.]]></comment>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                    <validate>required-entry validate-no-empty</validate>
                </field>
                <field id="api_secret" translate="label" type="obscure" sortOrder="40" showInDefault="1">
                    <label>API Secret</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                    <comment>Secret part of the API credentials. You shall rotate this secret as required.</comment>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                    <validate>required-entry validate-no-empty</validate>
                </field>
                <field id="project_token_id" translate="label" type="text" sortOrder="50" showInDefault="1">
                    <label>Project Token</label>
                    <comment><![CDATA[Engagement project identifier. A token value for JS SDK and for API access, which can be found in Project Settings. e.g. 2d0be12a-4b0c-12ec-87da-86c198934217]]></comment>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                    <validate>required-entry validate-no-empty</validate>
                </field>
                <field id="use_static_ips" translate="label" type="select" sortOrder="60" showInDefault="1">
                    <label>Use static IPs</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[Check this box if you use a firewall and need a whitelist of IPs allowed to connect. We will limit connections to your server. Check our <a href="https://github.com/exponea/bloomreach-magento2-integration/blob/main/doc/user_guide.pdf" target="_blank">installation guide</a> for more details. Note that it can increase the execution time.]]></comment>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
                <field id="validate_access_credentials" translate="label" sortOrder="70" showInDefault="1">
                    <label>Validate Credentials</label>
                    <button_label>Validate Credentials</button_label>
                    <button_url>bloomreach_engagement/validator/AccessCredentials</button_url>
                    <frontend_model>Bloomreach\EngagementConnector\Block\Adminhtml\System\Config\CredentialValidatorButton</frontend_model>
                    <comment>Validate enetered credentials.</comment>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
                <field id="debug_mode" translate="label" type="select" sortOrder="80" showInDefault="1">
                    <label>Enable Debug Mode</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Save logs to "var/log/bloomreach/debug.log".</comment>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
                <field id="request_timeout" translate="label" type="text" sortOrder="90" showInDefault="1">
                    <label>Request timeout</label>
                    <comment>Timeout in seconds for the requests that the plugin sends to Bloomreach API. Use 0 to wait indefinitely.</comment>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                    <validate>required-entry validate-zero-or-greater validate-digits</validate>
                </field>
                <field id="retry_base_wait_time" translate="label" type="text" sortOrder="100" showInDefault="1">
                    <label>Base Wait Time</label>
                    <comment>The base time in seconds to wait before retrying a request to the Bloomreach API.</comment>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                    <validate>required-entry validate-greater-than-zero validate-digits</validate>
                </field>
                <field id="retry_max_wait_time" translate="label" type="text" sortOrder="110" showInDefault="1">
                    <label>Max Wait Time</label>
                    <comment>The max time in seconds to wait before retrying a request to the Bloomreach API.</comment>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                    <validate>required-entry validate-zero-or-greater validate-digits</validate>
                </field>
                <field id="system_notifications_enabled" translate="label" type="select" sortOrder="120" showInDefault="1">
                    <label>Enable System Notifications</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
            </group>
            <group id="http_basic_auth" translate="label" type="text" sortOrder="20" showInDefault="1">
                <label>HTTP Basic Authentication</label>
                <depends>
                    <field id="bloomreach_engagement/general/enable">1</field>
                </depends>
                <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1">
                    <label>Enable HTTP Basic Authentication</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Enables HTTP Basic Authentication for Initial import</comment>
                </field>
                <field id="username" translate="label" type="text" sortOrder="20" showInDefault="1">
                    <label>Username</label>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="password" translate="label" type="obscure" sortOrder="30" showInDefault="1">
                    <label>Password</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
            </group>
            <group id="registered_mapping" translate="label" type="text" sortOrder="30" showInDefault="1">
                <label>Registered Mapping</label>
                <depends>
                    <field id="bloomreach_engagement/general/enable">1</field>
                </depends>
                <field id="customer_id" translate="label" type="text" sortOrder="10" showInDefault="1" canRestore="1">
                    <label>Customer ID</label>
                    <comment><![CDATA[The name of the <strong>Customer ID</strong> field on the Bloomreach side]]></comment>
                    <depends>
                        <field id="bloomreach_engagement/general/enable">1</field>
                    </depends>
                    <validate>required-entry validate-no-empty</validate>
                </field>
                <field id="email" translate="label" type="text" sortOrder="10" showInDefault="1" canRestore="1">
                    <label>Email</label>
                    <comment><![CDATA[The name of the <strong>Email</strong> field on the Bloomreach side]]></comment>
                    <depends>
                        <field id="bloomreach_engagement/general/enable">1</field>
                    </depends>
                    <validate>required-entry validate-no-empty</validate>
                </field>
            </group>
            <group id="catalog_product_feed" translate="label" type="text" sortOrder="40" showInDefault="1">
                <label>Products Feed</label>
                <depends>
                    <field id="bloomreach_engagement/general/enable">1</field>
                </depends>
                <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Enables Products Feed</comment>
                    <depends>
                        <field id="bloomreach_engagement/general/enable">1</field>
                    </depends>
                </field>
                <field id="real_time_updates" translate="label" type="select" sortOrder="20" showInDefault="1">
                    <label>Real Time Updates</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <backend_model>Bloomreach\EngagementConnector\Model\Config\Backend\ValidateCatalog</backend_model>
                    <comment>Enables Real Time Updates</comment>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="searchable_fields" translate="label" type="multiselect" sortOrder="30" showInDefault="1" canRestore="1">
                    <label>Searchable Fields</label>
                    <source_model>Bloomreach\EngagementConnector\Model\Config\Source\CatalogProductFields</source_model>
                    <backend_model>Bloomreach\EngagementConnector\Model\Config\Backend\ValidateSearchableFields</backend_model>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                    <validate>required-entry</validate>
                </field>
            </group>
            <group id="catalog_product_variants_feed" translate="label" type="text" sortOrder="50" showInDefault="1">
                <label>Variants Feed</label>
                <depends>
                    <field id="bloomreach_engagement/general/enable">1</field>
                </depends>
                <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Enables Variants Feed</comment>
                    <depends>
                        <field id="bloomreach_engagement/general/enable">1</field>
                    </depends>
                </field>
                <field id="real_time_updates" translate="label" type="select" sortOrder="20" showInDefault="1">
                    <label>Real Time Updates</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <backend_model>Bloomreach\EngagementConnector\Model\Config\Backend\ValidateCatalog</backend_model>
                    <comment>Enables Real Time Updates</comment>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="searchable_fields" translate="label" type="multiselect" sortOrder="30" showInDefault="1" canRestore="1">
                    <label>Searchable Fields</label>
                    <source_model>Bloomreach\EngagementConnector\Model\Config\Source\CatalogProductVariantsFields</source_model>
                    <backend_model>Bloomreach\EngagementConnector\Model\Config\Backend\ValidateSearchableFields</backend_model>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                    <validate>required-entry</validate>
                </field>
            </group>
            <group id="customer_feed" translate="label" type="text" sortOrder="60" showInDefault="1">
                <label>Customers Feed</label>
                <depends>
                    <field id="bloomreach_engagement/general/enable">1</field>
                </depends>
                <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Enables Customers Feed</comment>
                    <depends>
                        <field id="bloomreach_engagement/general/enable">1</field>
                    </depends>
                </field>
                <field id="real_time_updates" translate="label" type="select" sortOrder="20" showInDefault="1">
                    <label>Real Time Updates</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Enables Real Time Updates</comment>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
            </group>
            <group id="purchase_feed" translate="label" type="text" sortOrder="70" showInDefault="1">
                <label>Purchase Feed</label>
                <depends>
                    <field id="bloomreach_engagement/general/enable">1</field>
                </depends>
                <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Enables Purchase Feed</comment>
                    <depends>
                        <field id="bloomreach_engagement/general/enable">1</field>
                    </depends>
                </field>
                <field id="real_time_updates" translate="label" type="select" sortOrder="20" showInDefault="1">
                    <label>Real Time Updates</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Enables Real Time Updates</comment>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
            </group>
            <group id="purchase_item_feed" translate="label" type="text" sortOrder="80" showInDefault="1">
                <label>Purchase Items Feed</label>
                <depends>
                    <field id="bloomreach_engagement/general/enable">1</field>
                </depends>
                <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Enables Purchase Items Feed</comment>
                    <depends>
                        <field id="bloomreach_engagement/general/enable">1</field>
                    </depends>
                </field>
                <field id="real_time_updates" translate="label" type="select" sortOrder="20" showInDefault="1">
                    <label>Real Time Updates</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Enables Real Time Updates</comment>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
            </group>
            <group id="frontend_tracking" translate="label" type="text" sortOrder="90" showInDefault="1">
                <label>Frontend Tracking</label>
                <depends>
                    <field id="bloomreach_engagement/general/enable">1</field>
                </depends>
                <field id="enable_datalayer" translate="label" type="select" sortOrder="140" showInDefault="1">
                    <label>Enable Pushing Tracking Information To DataLayer</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="enable_js_sdk" translate="label" type="select" sortOrder="140" showInDefault="1">
                    <label>Enable JS SDK</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Injects Bloomreach Engagement JS SDK to the default store front on every page.</comment>
                </field>
                <field id="enable_purchase" translate="label" type="select" sortOrder="140" showInDefault="1">
                    <label>Order Tracking</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Enable event order and order_item tracking on Thank you page.</comment>
                </field>
                <field id="enable_product_view" translate="label" type="select" sortOrder="140" showInDefault="1">
                    <label>View Item Tracking</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Enable event view_item tracking on product detail page.</comment>
                </field>
                <field id="enable_cart_update" translate="label" type="select" sortOrder="140" showInDefault="1">
                    <label>Cart Update Tracking</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Enable event cart_update tracking on any shopping cart contents changes.</comment>
                </field>
            </group>
            <group id="bloomreach_engagement_cron" translate="label" type="text" sortOrder="100" showInDefault="1">
                <label>Cron Settings</label>
                <depends>
                    <field id="bloomreach_engagement/general/enable">1</field>
                </depends>
                <field id="bloomreach_add_to_export_queue_cron" translate="label" type="text" sortOrder="10" showInDefault="1">
                    <label>Cron job settings to export queue</label>
                    <comment>Fill the value in the cron string format ex. */15 * * * *</comment>
                    <depends>
                        <field id="bloomreach_engagement/general/enable">1</field>
                    </depends>
                </field>
                <field id="bloomreach_run_export_cron" translate="label" type="text" sortOrder="20" showInDefault="1">
                    <label>Cron job settings to export data to the Bloomreach</label>
                    <comment>Fill the value in the cron string format ex. */15 * * * *</comment>
                    <depends>
                        <field id="bloomreach_engagement/general/enable">1</field>
                    </depends>
                </field>
                <field id="bloomreach_clean_csv_cron" translate="label" type="text" sortOrder="30" showInDefault="1">
                    <label>Cron job settings to remove old CSV files </label>
                    <comment>Fill the value in the cron string format ex. 0 0 * * *</comment>
                    <depends>
                        <field id="bloomreach_engagement/general/enable">1</field>
                    </depends>
                </field>
                <field id="clear_old_csv" translate="label" type="text" sortOrder="40" showInDefault="1">
                    <label>Remove old CSV files after:</label>
                    <validate>validate-greater-than-zero validate-number</validate>
                    <comment>Determine number of days, the old CSV files will be removed</comment>
                    <depends>
                        <field id="bloomreach_engagement/general/enable">1</field>
                    </depends>
                </field>
                <field id="bloomreach_clean_export_queue_cron" translate="label" type="text" sortOrder="50" showInDefault="1">
                    <label>Cron job settings to clean export queue data in database </label>
                    <comment>Fill the value in the cron string format ex. 0 0 * * *</comment>
                    <depends>
                        <field id="bloomreach_engagement/general/enable">1</field>
                    </depends>
                </field>
                <field id="clean_export_queue" translate="label" type="text" sortOrder="60" showInDefault="1">
                    <label>Remove old export queue data after:</label>
                    <validate>validate-greater-than-zero validate-number</validate>
                    <comment>Determine number of days, the old export queue data will be removed</comment>
                    <depends>
                        <field id="bloomreach_engagement/general/enable">1</field>
                    </depends>
                </field>
            </group>
            <group id="notification" translate="label" type="text" sortOrder="110" showInDefault="1">
                <label>Notification</label>
                <depends>
                    <field id="bloomreach_engagement/general/enable">1</field>
                </depends>
                <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="sender" translate="label" type="select" sortOrder="20" showInDefault="1">
                    <label>Notification Sender</label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Identity</source_model>
                    <depends>
                        <field id="bloomreach_engagement/notification/enabled">1</field>
                    </depends>
                </field>
                <field id="recipients" translate="label comment" type="text" sortOrder="30" showInDefault="1">
                    <label>Notification Recipients</label>
                    <comment><![CDATA[Multiple email addresses separated by a comma are allowed.]]></comment>
                    <depends>
                        <field id="bloomreach_engagement/notification/enabled">1</field>
                        <!--
                            The following depends field is needed to avoid incorrect field validation
                            for the 'recipients' field.
                            Case: first module configuration saving, general/enable -> yes, notification/enabled -> no,
                            the 'recipients' field is hidden, but validating.
                        -->
                        <field id="bloomreach_engagement/general/enable">1</field>
                    </depends>
                    <validate>required-entry validate-emails</validate>
                </field>
                <field id="allowed_error_percentage" translate="label" type="text" sortOrder="40" showInDefault="1">
                    <label>Percent of errors</label>
                    <depends>
                        <field id="bloomreach_engagement/notification/enabled">1</field>
                    </depends>
                    <comment><![CDATA[Valid range: 0 - 99]]></comment>
                    <validate>validate-no-empty validate-digits-range digits-range-0-99</validate>
                </field>
            </group>
        </section>
    </system>
</config>
